<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show all users</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form role="form" id="login" action="user/login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">phone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="$!{user.phoneId}"/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" value="$!{user.password}"/>
                </div>
                <button type="submit" class="btn btn-default" onclick="login()">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript" src="/js/yym/user/user_login.js"></script>