<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PS台架后台系统登录</title>
    <link  rel="stylesheet"  href="/skin/bootstrap.min.css" type="text/css" />
    <style>
        body{
            margin-left:auto;
            margin-right:auto;
            margin-TOP:100PX;
            width:20em;
        }
    </style>
</head>
<body>
<!--下面是用户名输入框-->
<form action="/user/login" method="post" id="loginForm"  >
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"></span>
    <input id="phoneId" type="text" class="form-control" placeholder="用户名" aria-describedby="basic-addon1" name="phoneId">
</div>
<br>
<!--下面是密码输入框-->
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1"></span>
    <input id="passWord" type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1" name="password">
</div>
<br>
<!--下面是登陆按钮,包括颜色控制-->
<input type="submit" style="width:280px;" class="btn btn-default" value="登 录">
</form>
</body>
</html>
