#set($layout = "layout/empty.vm")
<form class="form-horizontal" id="versionInformation" action="versionManege/getVersion" method="post">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                版本管理
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row well">
            <div class="col-lg-6">
                <table class="table table-striped table-bordered table-condensed table-hover grid fixed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>安卓</th>
                        <th>ipad</th>
                        <th>iPhone</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>最低支持版本</td>
                        <td>$!{version.androidLowV}</td>
                        <td>$!{version.ipadLowV}</td>
                        <td>$!{version.iphoneLowV}</td>
                    </tr>
                    <tr>
                        <td>最新支持版本</td>
                        <td>$!{version.androidNewV}</td>
                        <td>$!{version.ipadNewV}</td>
                        <td>$!{version.iphoneNewV}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5">
                <b>操作人:</b>&nbsp;&nbsp;$!{version.operator}<br/>
                <b>操作时间:</b>&nbsp;&nbsp;$!dateTool.format("yyyy-MM-dd HH:mm:ss",$version.created)<br/>
                <b>描述信息:</b>&nbsp;&nbsp;$!{version.description}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary" id="editVersion">
                    <span class="fa fa-plus"></span> 更新
                </button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info" id="historyList">
                    <span class="fa fa-align-right"></span> 查看历史版本
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="/js/screen/version/versionManage-home.js"></script>