<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.liang.demo.dao.UserMapper">


    <resultMap id="userResultMap" type="com.liang.demo.domain.User" autoMapping="false">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="phoneId" column="phone_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="userRole" column="user_role" javaType="Integer" jdbcType="INTEGER"/>
        <result property="password" column="password"  javaType="String" jdbcType="VARCHAR"/>
        <result property="userState" column="user_state" javaType="Integer" jdbcType="INTEGER"/>
        <result property="yn" column="yn" javaType="Integer" jdbcType="INTEGER"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="modified" column="modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="createdUser" parameterType="com.liang.demo.domain.User">
        INSERT user (phone_id,user_name,user_role,password,user_state,yn,created,modified)
        VALUES (
        <if test="phoneId != null">
            #{phoneId},
        </if>
        #{userName},
        <if test="userRole != null">
            #{userRole},
        </if>
        <if test="password != null">
            #{password},
        </if>
        0,1,now(),now()
        )
    </insert>
    <select id="selectUserByPhonePw" parameterType="com.liang.demo.domain.User"
            resultMap="userResultMap">
        SELECT id,phone_id,user_name,user_role,password,user_state,yn,created,modified FROM USER
        <where>
            <if test="phoneId!= null">
                phone_id=#{phoneId}
            </if>
            <if test="password!= null ">
                AND password=#{password}
            </if>
        </where>
    </select>
    <update id="updateUserstate">
        update USER
        <set>
            user_state=#{userState}
        </set>
        WHERE
        <if test="phoneId!= null">
            phone_id=#{phoneId}
        </if>
    </update>
    <select id="getALLUser" parameterType="com.liang.demo.domain.User"
            resultMap="userResultMap">
            SELECT * FROM USER
    </select>
</mapper>

