#set($layout = "layout/empty.vm")
<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center; font-size: 20px">
        增加账户信息
    </div>
</div>
<br>
<br>
<form action="" method="post" class="definewidth m20" id="registerForm" name="registerForm" >
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="50%" class="tableleft" style="text-align: left">用户账号</td>
            <td style="text-align: left">
                <input type="text"  name="user.phoneId"  onblur="test3()" style="width: 200px" id="phone" class="required" maxlength="100" /><span style="color: green">&nbsp;&nbsp;注册账号</span>
            </td>
            <div id="phoneMsg"></div>
        </tr>
        <tr>
            <td width="20%" class="tableleft">用户姓名</td>
            <td>
                <input type="text"  name="user.userName" style="width: 200px" class="required" maxlength="100" /><span style="color: green">&nbsp;&nbsp;手机对应联系人</span>
            </td>
        </tr>
        <tr>
            <td width="20%" class="tableleft"><span style="color:#FF0000;"></span>账号角色</td>
            <td>
                <select name="user.userRole" id="userRole">
                <option value="1">普通户用</option>
                <option value="2">操作员</option>
                <option value="3">管理员</option>
            </select>
            </td>
        </tr>
        <tr>
            <td width="20%" class="tableleft">账号密码</td>
            <td>
                <input type="password" style="width: 200px" name="user.password" class="password" required="" maxlength="100" /><span style="color: green">&nbsp;&nbsp;密码</span>
            </td>
        </tr>
        <tr>
            <td width="20%" class="tableleft">确认密码</td>
            <td>
                <input type="password"  onblur="passwordIsCorrect()" style="width: 200px" name="repeatedPassword" class="repeatedPassword" required="" maxlength="100"/><span style="color: green">&nbsp;&nbsp;账号创建日期</span>
            </td>
            <div id="passwordMsg"></div>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="button" onclick="save()" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">取消</button>
            </td>
        </tr>
    </table>
</form>

</div>

<script>
    function test3(){
        //对手机号码的验证
        var temp2 = document.getElementById("phone");
        var myreg2 = /^1[34578]\d{9}$/;
        if(!myreg2.test(temp2.value))
        {
            document.getElementById("phoneMsg").innerHTML = "<span><font color='red' >账号不是手机号码×</font></span>";
        }
        else{
            document.getElementById("phoneMsg").innerHTML = "<span><font color='green' >账号格式正确√</font></span>";
        }
    }

    function passwordIsCorrect() {
        var password = document.registerForm.password.value;
        var repeatedPassword = document.registerForm.repeatedPassword.value;
        if(password == repeatedPassword){
            document.getElementById("passwordMsg").innerHTML = "<span><font color='green'>两次输入密码一致√</font></span>";
        }
        else{
            document.getElementById("passwordMsg").innerHTML = "<span><font color='red'>两次输入密码不一致×</font></span>";
        }
    }


</script>